*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-image: url(../img/bg-tortue.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;

  scroll-behavior: smooth;

  min-height: 100svh;
  width: 100%; 
}
.main {
  display: flex;
  justify-content: center;
  margin: 2rem;
  min-height: 80svh;
}
