.post-section {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-row-gap: 2rem;
}
.post {
  padding: 1.5rem;
  background: #041119b0;
  border-radius: 30px;
  backdrop-filter: blur(5px);
  color: white;
}
.post-content {
  padding: 0.5rem;
}
.post-img {
  border: solid 1px black;
  width: 100%;
}